html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
}

p{
  margin:0;
}

* {
  box-sizing: border-box;
  /* 去掉 轮播图 Chrome浏览器的错误警告 */
  touch-action: pan-y;
}

.tabbar{
  position: fixed;
  width: 100%;
  bottom: 0;
}

.tabbar .iconfont{
  font-size: 20px;
}
